# --- General options --- #

url: "http://acolyte.eu.org"
baseurl: ""
title: Acolyte
description: Persistence testing
latest_release: 1.0.43

# --- Navigation bar options --- #

# List of links in the navigation bar
navbar-links:
  User guide:
    - Java: "./java/"
    - Scala: "./scala/"
    - ReactiveMongo: "./reactive-mongo/"
  Tutorial & Demo:
    - Integration: "./integration/"
    - Play Framework: "./integration/#play-framework"
    - Interactive tour: "http://tour.acolyte.eu.org"
    - 10m with Anorm: "https://github.com/cchantep/acolyte/tree/10m-anorm-tutorial#acolyteanorm-10-minutes-tutorial"

# Image to show in the navigation bar - image must be a square (width = height)
# Remove this parameter if you don't want an image in the navbar
avatar: "/img/avatar-icon.png"

# --- Footer options --- #

# Change all these values or delete the ones you don't want.
# Important: you must keep the "name" parameter, everything else you can remove
author:
#  name: Some Person
#  email: "youremail@domain.com"
#  facebook: yourname  # eg. daattali
  github: cchantep/acolyte
  twitter: cchantep
#  google-plus: +yourname   # eg. +DeanAttali or 109424658772469020925
  linkedin: cchantep
#  xing: yourname      # eg. daattali
#  stackoverflow: yourlink  # eg. "3943160/daattali"
#  snapchat: yourname  # eg. daattali
#  instagram: yourname # eg. daattali
#  youtube: yourlink   # eg. user/daattali or channel/daattali
#  spotify: yourname   # eg. daattali

# Select which links to show in the footer
footer-links-active:
  rss: false
  facebook: true
  email: false
  twitter: true
  google-plus: false
  github: true
  linkedin: false
  xing: false
  stackoverflow: false
  snapchat: false
  instagram: false
  youtube: false
  spotify: false

# Select which share links to show in posts
share-links-active:
  twitter: true
  facebook: false
  google: false
  linkedin: true

# How to display the link to the website in the footer
# Remove this if you don't want a link in the footer
url-pretty: "acolyte.eu.org"  # eg. "deanattali.com/beautiful-jekyll"

# --- Misc --- #
# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
#disqus: ""

# Fill in your Google Analytics ID to track your website using GA
#google_analytics: ""

# Facebook App ID
# fb_app_id: ""

# Excerpt Word Length
# Truncates the excerpt to the specified number of words on the index page
excerpt_length: 50

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "Europe/Paris"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
#paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Use tags pages (not recommended if you are deploying via GitHub pages, only set to true if deploying locally with ruby)
link-tags: false

# Exclude these files from production site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
  - Vagrantfile
  - vendor

# prose.io config
prose:
  rooturl: '_posts'
  media: 'img'
  ignore:
    - 404.html
    - LICENSE
    - feed.xml
    - _config.yml
    - /_layouts
    - /_includes
    - /css
    - /img
    - /js
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          element: "text"
          label: "Post title"
          placeholder: "Title"
          alterable: true
      - name: "subtitle"
        field:
          element: "textarea"
          label: "Subtitle"
          placeholder: "A description of your post."
          alterable: true
      - name: "date"
        field:
          element: "text"
          label: "Date"
          help: "Enter date of post."
          placeholder: "yyyy-mm-dd"
          alterable: true
      - name: "published"
        field:
          element: "checkbox"
          label: "Publish"
          help: "Check to publish post, uncheck to hide."

gems:
#  - jekyll-paginate
  - jekyll-sitemap
  - algoliasearch-jekyll

algolia:
  application_id: 'QQNZ5HPWBX'
  search_only_api_key: '01fafefdc6e15db50623ea097e1b8fa8'
  record_css_selector: 'p,ul'
#  settings:
#    attributesForFaceting: ['#majorVersion']

# Beautiful Jekyll / Dean Attali
# 2fc73a3a967e97599c9763d05e564189
