#go-back { position:absolute; top:6em }

.list-group-item-success .text-info {color: green}
.form-control.has-error { border-color: #e74c3c }

#behaviour h2 > a { display: block }
#behaviour h2 > a:hover, #behaviour h2 > a:focus { text-decoration: none }
#behaviour h2 .fa { margin-right: .2em }
#behaviour .list-group { margin: 0; border: 0; padding-top: 0 }
#behaviour .list-group .table-bordered, #behaviour .list-group p { margin: 0 }
#behaviour .list-group p > .fa { margin-right: .5em }
#behaviour h3 { font-size: 12pt; margin: .5em; font-weight: bold }
#queries, #updates { display: none }

#behaviour .simple-result, #result .simple-result { display: inline }
#behaviour .simple-result:before { content: ', ' }

.panel-title > a { display: block }
#config .tab-pane { padding-top: 1em }

#statement { height: 10em }

#aco-lock .alert-info { color: #000 }

#aco-unexpected-error .modal-title,
#aco-unexpected-error .modal-body { color: #e74c3c }

#param-value { background: #fff }
#execute li > .fa { visibility: hidden; margin-right: .5em }
#execute li { cursor: pointer }

#result .route .fa { margin-right: .5em }
#result .panel-body > div { padding-left: 1em }