@()
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Acolyte &mdash; Tour Step #1</title>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootswatch/latest/flatly/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />

    <link href="css/step1.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="page-header">
        <h1>Step #1 <small>Define access cases</small></h1>

        <p>At this point, there are two approaches, <a href="https://github.com/cchantep/acolyte/blob/5dc4c00252b3a9ba14900560364f24cc02601573/src/test/scala/PersistenceSpec.scala#L51" title="See example" rel="me external">1 case = 1 connection</a> or <a href="https://github.com/cchantep/cielago-tracker/commit/a758541af62a47f1a7d7216c694afe3faad69ac5#diff-a18c61543e5d6b1f4f72ecc5e43c6a1fR94" title="See title" rel="me external">1 connection = many cases</a>.</p>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 col-sm-12 panel panel-primary" id="case-rules">
            <div class="panel-heading">
              <strong>Rules</strong> to dispatch cases
              <i class="fa fa-code-fork"></i>

              <div class="actions pull-right">
                <a href="#add-rule" class="btn btn-primary">
                  <i class="fa fa-plus-square"></i>
                  <span class="visible-sm">Add rule</span>
                </a>

                <a href="#remove-rule" data-placement="bottom" 
                   class="btn btn-primary disabled has-tooltip"
                   title="Select rule(s) for removal">
                  <i class="fa fa-minus-square"></i>
                  <span class="visible-sm">Remove rule(s)...</span>
                </a>
              </div>
            </div>

            <div class="panel-body">
              <em class="text-muted">No case rule</em>
            </div>
          </div><!-- /#case-rules -->

          <div class="col-md-1 text-center col-sm-0 spacer">
            <i class="text-muted fa fa-arrow-right hidden-sm"></i>
          </div>
          
          <div class="col-md-6 col-sm-12 panel panel-default" id="case-result">
            <div class="panel-heading">
              Result <strong>case</strong>
              <i class="fa fa-tasks"></i>
            </div>

            <div class="panel-body">
              <em class="text-muted">No case selected</em>
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <div class="modal fade" id="rule-editor">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Rule editor</h4>
          </div>
          <div class="modal-body">
            <form role="form" action="#add-rule">
              <div class="form-group">
                <label for="ruleKind" class="control-label">
                  Statement kind</label>
                <select id="ruleKind" class="form-control">
                  <option value="query">Query</option>
                  <option value="update">Update</option>
                </select>
              </div><!-- /.form-group -->

              <div class="form-group has-tooltip" 
                   title="Pattern to detect statement; e.g. ^SELECT = Statement starting with SELECT">
                <label for="ruleExp" class="control-label">
                  Statement pattern</label>

                <a href="https://en.wikipedia.org/wiki/Regexp" rel="external" class="pull-right example"><tt>.*</tt> = Any statement</a>

                <input id="ruleExp" type="text" 
                       value=".*" class="form-control" />
              </div><!-- /.form-group -->

              <fieldset id="param-pattern">
                <legend title="Parameter pattern allows to have distinct rules for cases statement is the same but parameters are different" class="has-tooltip">Parameter constraints 
                  <span class="badge badge-default">0</span></legend>

                <div class="input-group">
                  <label for="param-type" class="input-group-addon">
                    <span>Constraint</span>
                    <span class="position">1</span>
                  </label>

                  <select class="form-control has-tooltip" id="param-type"
                          data-trigger="focus" title="Parameter type">
                    <option value="string">Text</option>
                    <option value="int">Integer</option>
                    <option value="float">Decimal</option>
                  </select>

                  <label for="param-value" 
                         class="input-group-addon">Value</label>
                    
                  <span id="param-value"></span>

                  <span class="input-group-btn">
                    <button class="btn btn-default" disabled="disabled">
                      <i class="fa fa-plus-square"></i> 
                      <span class="visible-sm">Add</span>
                    </button>
                  </span>
                </div><!-- /.input-group -->

                <p class="text-muted">In this tour, types available for parameter detection are limited on purpose.<br />Acolyte can handle any <a href="http://docs.oracle.com/javase/6/docs/api/java/sql/Types.html" rel="external">JDBC type</a>.</p>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" 
                    data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" 
                    disabled="disabled">Apply</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="//codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="js/link.js"></script>
    <script src="js/step1.js"></script>
  </body>
</html>
