// -*- mode: java -*-
package acolyte;

import java.util.Collections;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

/**
 * Row list of row with #N# cell.
 *
 * @author Cedric Chantepie
 */
public abstract class RowList#N#<#CP#,UPDATED extends RowList#N#<#CP#,?>> 
    extends RowList<Row#N#<#CP#>> {

    #AGS#

    /**
     * Returns row list factory.
     */
    abstract Factory<#CP#, UPDATED> factory();

    /**
     * Append column values.
     * see #append(acolyte#Row#N#)
     */
    public UPDATED append(#AP#) {
        return append(new Row#N#<#CP#>(#AV#));
    } // end of append

    /**
     * {@inheritDoc}
     * @deprecated Use append operation with multiple column values.
     */
    protected UPDATED append(final Row#N#<#CP#> row) {
        final ArrayList<Row#N#<#CP#>> copy = new ArrayList<Row#N#<#CP#>>(getRows());
            
        copy.add(row);

        return factory().rowList(#GC#, copy, getColumnLabels());
    } // end of append

    /**
     * {@inheritDoc}
     */
    public UPDATED withLabel(final int columnIndex, final String label) {
        if (label == null) {
            throw new IllegalArgumentException("Invalid label");
        } // end of if

        // ---

        final HashMap<String,Integer> cols = 
            new HashMap<String,Integer>(getColumnLabels());

        cols.put(label, (Integer) columnIndex);

        return factory().rowList(#GC#, getRows(), cols);
    } // end of withLabel

    // --- Inner classes ---

    /**
     * Row list factory.
     */
    static interface Factory<#CP#, ROWLIST extends RowList#N#<#CP#,?>> {

        /**
         * Build row list, including |rows| with given column |labels|.
         */
        public ROWLIST rowList(#CS#, final List<Row#N#<#CP#>> rows, final Map<String,Integer> labels);
    } // end of interface Factory

    /**
     * Row list implementation.
     */
    public static final class Impl<#CP#> extends RowList#N#<#CP#,Impl<#CP#>> {
        // --- Properties ---
        
        /**
         * Rows
         */
        final List<Row#N#<#CP#>> rows;
        
        /**
         * Column names
         */
        final Map<String,Integer> colNames;

        #PS#

        /**
         * Column classes
         */
        private final List<Class<?>> colClasses;

        // --- Constructors ---

        /**
         * Bulk constructor.
         *
         * @throws IllegalArgumentException if rows is null
         */
        Impl(#CS#, final List<Row#N#<#CP#>> rows, final Map<String,Integer> colNames) {

            #IC#

            if (rows == null) {
                throw new IllegalArgumentException("Invalid rows");
            } // end of if

            if (colNames == null) {
                throw new IllegalArgumentException("Invalid names");
            } // end of if

            this.rows = Collections.unmodifiableList(rows);
            this.colNames = Collections.unmodifiableMap(colNames);

            // Column classes
            final ArrayList<Class<?>> colClasses = new ArrayList<Class<?>>();

            #AC#

            this.colClasses = Collections.unmodifiableList(colClasses);
        } // end of <init>

        /**
         * No-arg constructor.
         */
        Impl(#CS#) {
            this(#CA#, new ArrayList<Row#N#<#CP#>>(), new HashMap<String,Integer>());
        } // end of <init>

        // ---

        #GS#

        /**
         * {@inheritDoc}
         */
        RowList#N#.Factory<#CP#, Impl<#CP#>> factory() {
            return new RowList#N#.Factory<#CP#,Impl<#CP#>>() {
                public Impl<#CP#> rowList(#CS#, final List<Row#N#<#CP#>> rows, final Map<String,Integer> colNames) {
                    return new Impl(#PSC#, rows, colNames);
                }
            };
        } // end of factory

        /**
         * {@inheritDoc}
         */
        public List<Row#N#<#CP#>> getRows() { return this.rows; }
        
        /**
         * {@inheritDoc}
         */
        public Map<String,Integer> getColumnLabels() { return this.colNames; }

        /**
         * {@inheritDoc}
         */
        public List<Class<?>> getColumnClasses() { return this.colClasses; }
    } // end of class Impl
} // end of class RowList#N#
